@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 768px;
        display: flex;
        flex-direction: row-reverse;
    }

    #imagem {
        width: 35%;
    }

    #imagem > img {
        width: 110%;
    }

    #formulario {
        width: 65%;
    }

    #formulario > h1 {
        font-size: 1.7em;
    }

    #formulario > p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 992px;
        display: flex;
        flex-direction: row;
    }

    #imagem {
        width: 50%;
    }

    #imagem > img {
        width: 120%;
    }

    #formulario {
        width: 50%;
    }

    #formulario > h1 {
        font-size: 2em;
    }

    #formulario > p {
        font-size: 1.5em;
    }
}