@charset "UTF-8";

:root {
    --verde-1: #A8E5BA;
    --verde-2: #66EE8F;
    --verde-3: #B1F2C4;
    --verde-4: #2E6B40;
    --verde-5: #8CBF9B;

    --fontPadrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontPadrao);
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, var(--verde-3) 40%, var(--verde-2) 100%);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: #fff;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000049;

    transition: width .2s ease, height .2s ease;
}

#imagem {
    display: block;
    background: var(--verde-3) url('../imagens/Ilustração2.png') no-repeat center center;
    background-size: cover;
    height: 175px;
}

#formulario {
    display: block;
    padding: 10px;
}