@charset "UTF-8";
:root {
    --verde-1: #A8E5BA;
    --verde-2: #66EE8F;
    --verde-3: #B1F2C4;
    --verde-4: #2E6B40;
    --verde-5: #8CBF9B;
    --laranja-1: #ffb04f6e;
    --azul-1: #1e2ed8;
    --fontPadrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontPadrao);
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, var(--laranja-1) 10%, var(--verde-3) 100%);
}
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login {
    background-color: #fff;
    height: 493px;
    width: 250px;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000049;
    transition: width .3s ease, height .3s ease;
}
#imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--laranja-1) 10%, var(--verde-3) 100%);
}
#imagem > img {
    width: 80%;
}
#formulario {
    padding: 10px;
}
#formulario > h1 {
    text-align: center;
}
.campo {
    margin: 10px;
}
.material-symbols-outlined {
    transform: translateY(5.8px);
}
.campo > label {
    display: none;
}
.campo > input {
    height: 100%;
    width: calc(100% - 30px);
    font-size: 1em;
    border: 1px solid black;
    padding: 7px;
}
/* Qaundo clicar para digitar o campo do input vai ficar verde.
.campo input:focus-within {
    background-color: var(--verde-3);
}
*/
form > input[type=submit] {
    display: block;
    width: 100px;
    background-color: var(--azul-1);
    color: #fff;
    margin: auto;
    padding: 7px;
    font-size: 1.3em;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #00000075;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #131c81;
}
.esqueciSenha {
    display: block;
    width: 112px;
    margin-top: 8px;
    text-decoration: none;
}
.esqueciSenha:hover {
    color: #ff8c00;
}